*{
    border-image-width: 0px;
    color: #000;
    text-decoration: none;
    border: none;
    margin: 0px 0px 0px 0px;
}
body{
    position: relative;
}
/*Header div*/
header{
    text-align: center;
    width: 100%;
    padding: 0px 7vw 0px 7vw;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: #fff;
}
header>*{
    display: inline-block;
    float: left;
    width: 40%;
    height: 100%;
}
#logo-area{
    width: 60%;
}
#logo-area>*{
    width: 50%;
}
#top-logo{
    height: 60%;
    position: relative;
}
#name{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 33%, rgba(198,145,37,1) 38%, rgba(135,23,154,1) 45%, rgba(48,13,175,1) 51%, rgba(40,150,161,1) 57%, rgba(255,255,255,1) 63%, rgba(246,246,246,0) 100%);
    position: absolute;
    font-family: 'cinzel';
    width: 100%;
    bottom: 0px;
    padding-bottom: 0.6%;
}
#p-name{
    line-height: 1.2;
    background-color: #fff;
    font-size: 26px;
    height: 100%;
}
#sub-border{
    height: 30%;
}
#sub{
    padding-top: 0.7%;
}
#p-sub{
    line-height: 1.2;
    font-size: 18px;
    font-family: 'source serif pro';
}
#responsive-icon{
    display: none;
}
nav{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
}
.header-link{
    margin-left: 3vw;
    align-self: flex-end;
}
#header-about{
    align-self: flex-start;
    height: 45%;
}
#header-about img{
   height: 20px;
   padding-bottom: 1px;
}
#header-about span{
    align-self: center;
}
#bh{
    height: 100px;
}
/*search*/
#search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px 100px 200px 100px;
    margin-top: 50px;
    background-color: rgb(48, 48, 48);
}
#search>p{
    text-align: center;
    color:#fff ;
}
/*Main div*/
main{
	position:fixed;	
	top:80px;
	width:100%;
	z-index:-1;
	height:90vh;
}
#main-image{
	width:100%;
	height:100%;
}
#mb{
	height:60vh;
}
/*cards*/
.grid-cards{
    padding: 6vh 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius:15px;
    margin:10px;
}
.cards1{
    background:#fff;
}
.cards2{
    background-color: rgb(48, 48, 48);
}
.cards2 .my-card{
    background-color:#fff;
}
.cards1 .my-card{
    background-color: rgb(48, 48, 48);
}
.cards1 *{
    color:#fff;
    fill:#f8e4b3;
}
.my-card{
    margin:2.5vh 1vw 2.5vh 1vw;
    border-radius: 5px;
    overflow: hidden;
    perspective: 1px;
    text-align: center;
    width: 400px;
    height: 250px;
    display: flex;
}
.cardd{
    height: 100%;
}
.card-left{
    height: 100%;
    width: 60%;
}
.card-carousel{
    height: 100%;
}
.card-slide-img{
    height: 100%;
    height: 250px;
}
.card-info{
    height: 25%;
    padding:8px 8px 4px 8px;
}
.card-more{
    display:flex;
    flex-direction:column;
    align-items:baseline;
    height:70%;
    padding-left:16px;
    padding-top:10px;
}
.card-variable{
    margin-bottom:13.5px;
    display:flex;
    vertical-align:text-bottom;
}
.card-variable p{
    float:right;
    line-height:20px;
    margin-left:7px;
}
/* div about*/
#about{
    height: 60vh;
}
a{
    text-decoration: none;
    color: #000;
}
p{
    margin: 0px;
}

@media (max-aspect-ratio: 16/15) {
    header{
        height: 80px;
    }
    #logo-area{
        padding-top: 2vh;
    }
    #p-name{
        font-size: 2vh;
        line-height: 1.3;
    }
    #p-sub{
        font-size: 1.7vh;
    }
    #name{
        padding-bottom: 0.25vh;
    }
    #hiperlinks>*{
        display: none;
    }
    #responsive-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #responsive-icon{
        padding-left: 2vw;
        margin: auto;
    }
    #flex-search{
	display:block;
	width:100%;
	padding:0px 2.5% 0px 2.5%;
    }
    #flex-search-painel{
	color:#fff;
	display:flex;
	width:95%;
	min-height:100px;
	margin:auto;
	background-color:#000;
	border-radius:10px 10px 0px 0px;
    }
    #flex-results{
	min-height:150px;
	width:95%;
    }
    #flex-card{
    }
    .main-slide{
	height:50vh;
    }
    #mb{
    	height:50vh;
    }
    #more{
    	min-height:200px!important;
	margin:auto;
	width:100%!important;
	border-radius:0px!important;
    }
    #info{
    	padding:30px 0px 60px 0px!important;
    }
    .image-imovel-carousel{
    	height:50vh!important;
    }
}

footer{	
    	background-color: rgb(48, 48, 48);
	display:flex;
	margin:auto;
	justify-content:center;
	padding:60px 0px 50px 0px;
}
footer section{
	padding:0px 20px 0px 0px;
}
.footer-link{
	color:#fff;
}

@media (max-aspect-ratio: 4/5) {
    #p-sub{
        font-size: flex;
    }
    #name{
        padding-bottom: 0.19vh;
    }
    #mb{
	height:30vh;
    }
}
@media(max-width:500px){
    .my-card{
	width:370px;
    }
    .grid-cards{
	margin:0px;
	border-radius:0px
    }
}










/*
IMÒVEIS!!!!!!!!!!!!!
*/
.image-imovel-carousel{
	margin:auto;
	height:470px;
	border-radius:7px;
}
.item-imovel-carousel{
	background-color: #444444;
}
.carousel-inner{
}
#info{	
	background-color: #3C3C3C;
	padding:60px 2vw 60px 2vw;
}
#more{
	background-color:#6B6B6B;
	min-height:700px;
	width:350px;
	border-radius:7px;
}